main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textBoxes {
    display: flex;
    border: 4px solid black;
    border-radius: 10px;
    align-items: center;
    max-width: calc(100vw - 50px);
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-betweenc;
    align-items: center;
    width: 100%;
}

/* .text-container .btn .Previous{
    align-content: flex-start;
}

.text-container .btn .Next{
    align-content: flex-end;
} */